{%- if config.docstring_section_style == "table" %}

**{{ section.title or "Attributes:" }}**

Name | Type | Description
---- | ---- | -----------
{%- for attribute in section.value %}
[`{{ attribute.name }}`](#{{ obj.path }}.{{ attribute.name }}) | {% if attribute.annotation -%}{%- with expression = attribute.annotation -%}<code>{%- include "expression.md.jinja" with context -%}</code>{%- endwith -%}{%- endif %} | {{ attribute.description }}
{%- endfor -%}

{%- elif config.docstring_section_style == "list" %}

**{{ section.title or "Attributes:" }}**
{% for attribute in section.value %}
- [**{{ attribute.name }}**](#{{ obj.path }}.{{ attribute.name }}){%- if attribute.annotation -%}{%- with expression = attribute.annotation %} (<code>{%- include "expression.md.jinja" with context -%}</code>){%- endwith -%}{%- endif %} – {{ attribute.description }}
{%- endfor -%}
{%- endif -%}