{%- if config.docstring_section_style == "table" %}

**{{ section.title or "Other Parameters:" }}**

Name | Type | Description
---- | ---- | -----------
{%- for parameter in section.value %}
`{{ parameter.name }}` | {% if parameter.annotation -%}{%- with expression = parameter.annotation -%}<code>{%- include "expression.md.jinja" with context -%}</code>{%- endwith -%}{%- endif %} | {{ parameter.description }}
{%- endfor -%}

{%- elif config.docstring_section_style == "list" %}

**{{ section.title or "Other Parameters:" }}**
{% for parameter in section.value %}
- **{{ parameter.name }}**{%- if parameter.annotation -%}{%- with expression = parameter.annotation %} (<code>{%- include "expression.md.jinja" with context -%}</code>){%- endwith -%}{%- endif %} – {{ parameter.description }}
{%- endfor -%}
{%- endif -%}