{%- if config.docstring_section_style == "table" %}

{%- set name_column = section.value|selectattr("name")|any -%}
**{{ section.title or "Receives:" }}**

{% if name_column -%}Name | {% endif -%}Type | Description
{% if name_column -%}---- | {% endif -%}---- | -----------
{%- for receives in section.value %}
{%- if name_column -%}{%- if receives.name -%}`{{ receives.name }}`{%- endif %} | {% endif %}{% if receives.annotation -%}{%- with expression = receives.annotation -%}<code>{%- include "expression.md.jinja" with context -%}</code>{%- endwith -%}{%- endif %} | {{ receives.description }}
{%- endfor -%}

{%- elif config.docstring_section_style == "list" %}

**{{ section.title or "Receives:" }}**
{% for receives in section.value %}
- {% if receives.name -%}**{{ receives.name }}**{%- endif -%}{%- if receives.annotation -%}{%- with expression = receives.annotation -%}{%- if receives.name %} ({%- endif -%}<code>{%- include "expression.md.jinja" with context -%}</code>{%- if receives.name -%}){% endif -%}{%- endwith -%}{%- endif -%} – {{ receives.description }}
{%- endfor -%}
{%- endif -%}