{%- if config.docstring_section_style == "table" %}

{%- set name_column = section.value|selectattr("name")|any -%}
**{{ section.title or "Returns:" }}**

{% if name_column -%}Name | {% endif -%}Type | Description
{% if name_column -%}---- | {% endif -%}---- | -----------
{%- for returns in section.value %}
{%- if name_column -%}{%- if returns.name -%}`{{ returns.name }}`{%- endif %} | {% endif %}{% if returns.annotation -%}{%- with expression = returns.annotation -%}<code>{%- include "expression.md.jinja" with context -%}</code>{%- endwith -%}{%- endif %} | {{ returns.description }}
{%- endfor -%}

{%- elif config.docstring_section_style == "list" %}

**{{ section.title or "Returns:" }}**
{% for returns in section.value %}
- {% if returns.name -%}**{{ returns.name }}**{%- endif -%}{%- if returns.annotation -%}{%- with expression = returns.annotation -%}{%- if returns.name %} ({%- endif -%}<code>{%- include "expression.md.jinja" with context -%}</code>{%- if returns.name -%}){%- endif -%}{%- endwith -%}{%- endif %} – {{ returns.description }}
{%- endfor -%}
{%- endif -%}