{%- if obj.members -%}
{%- if root_members -%}
{%- set members_list = config.members -%}
{%- else -%}
{%- set members_list = none -%}
{%- endif -%}

{%- if config.group_by_category -%}

{%- with -%}

{%- if config.show_category_heading -%}
{%- set extra_level = 1 -%}
{%- else -%}
{%- set extra_level = 0 -%}
{%- endif -%}

{%- with attributes = obj.attributes|
filter_objects(
    filters=config.filters,
    members_list=members_list,
    inherited_members=config.inherited_members,
    keep_no_docstrings=config.show_if_no_docstring
) -%}
{%- if attributes -%}
{%- if config.show_category_heading %}

{% filter heading(heading_level) -%}Attributes{%- endfilter -%}
{%- endif -%}
{%- with heading_level = heading_level + extra_level -%}
{%- for attribute in attributes|order_members(config.members_order, members_list) -%}
{%- if members_list is not none or attribute.is_public or attribute|from_private_package -%}
{%- include "attribute.md.jinja" with context -%}
{%- endif -%}
{%- endfor -%}
{%- endwith -%}
{%- endif -%}
{%- endwith -%}

{%- with classes = obj.classes|
filter_objects(
    filters=config.filters,
    members_list=members_list,
    inherited_members=config.inherited_members,
    keep_no_docstrings=config.show_if_no_docstring
) -%}
{%- if classes -%}
{%- if config.show_category_heading %}

{% filter heading(heading_level) -%}Classes{%- endfilter -%}
{%- endif -%}
{%- with heading_level = heading_level + extra_level -%}
{%- for class in classes|order_members(config.members_order, members_list) -%}
{%- if members_list is not none or class.is_public or class|from_private_package -%}
{%- include "class.md.jinja" with context -%}
{%- endif -%}
{%- endfor -%}
{%- endwith -%}
{%- endif -%}
{%- endwith -%}

{%- with functions = obj.functions|
filter_objects(
    filters=config.filters,
    members_list=members_list,
    inherited_members=config.inherited_members,
    keep_no_docstrings=config.show_if_no_docstring
) -%}
{%- if functions -%}
{%- if config.show_category_heading %}

{% filter heading(heading_level) -%}Functions{%- endfilter -%}
{%- endif -%}
{%- with heading_level = heading_level + extra_level -%}
{%- for function in functions|order_members(config.members_order, members_list) -%}
{%- if not (obj.kind.value == "class" and function.name == "__init__" and config.merge_init_into_class) -%}
{%- if members_list is not none or function.is_public or function|from_private_package -%}
{%- include "function.md.jinja" with context -%}
{%- endif -%}
{%- endif -%}
{%- endfor -%}
{%- endwith -%}
{%- endif -%}
{%- endwith -%}

{%- if config.show_submodules -%}
{%- with modules = obj.modules|
filter_objects(
    filters=config.filters,
    members_list=members_list,
    inherited_members=config.inherited_members,
    keep_no_docstrings=config.show_if_no_docstring
) -%}
{%- if modules -%}
{%- if config.show_category_heading %}

{% filter heading(heading_level) -%}Modules{%- endfilter -%}
{%- endif -%}
{%- with heading_level = heading_level + extra_level -%}
{%- for module in modules|order_members(config.members_order, members_list) -%}
{%- if members_list is not none or module.is_public or module|from_private_package -%}
{%- include "module.md.jinja" with context -%}
{%- endif -%}
{%- endfor -%}
{%- endwith -%}
{%- endif -%}
{%- endwith -%}
{%- endif -%}

{%- endwith -%}

{%- else -%}

{%- for child in obj.all_members|
filter_objects(
    filters=config.filters,
    members_list=members_list,
    inherited_members=config.inherited_members,
    keep_no_docstrings=config.show_if_no_docstring
)|
order_members(config.members_order, members_list) -%}

{%- if not (obj.kind.value == "class" and child.name == "__init__" and config.merge_init_into_class) -%}
{%- if members_list is not none or child.is_public or child|from_private_package -%}

{%- if child.kind.value == "attribute" -%}
{%- with attribute = child -%}
{%- include "attribute.md.jinja" with context -%}
{%- endwith -%}

{%- elif child.kind.value == "class" -%}
{%- with class = child -%}
{%- include "class.md.jinja" with context -%}
{%- endwith -%}

{%- elif child.kind.value == "function" -%}
{%- with function = child -%}
{%- include "function.md.jinja" with context -%}
{%- endwith -%}

{%- elif child.kind.value == "module" and config.show_submodules -%}
{%- with module = child -%}
{%- include "module.md.jinja" with context -%}
{%- endwith -%}
{%- endif -%}

{%- endif -%}
{%- endif -%}

{%- endfor -%}

{%- endif -%}

{%- endif -%}
